button {
    /* height: 50px; */
    /* width: 150px; */
    text-align: center;
    background-color: white;
    border: 1px solid green;
    border-radius: 3px;
    color: green;
    box-shadow: 0 0 5px gray;
    padding: 10px 20px;
    font-size: 1.5em;
    margin: 20px;
}

button:hover {
    box-shadow: 0 2px 5px gray;
    background-color: green;
    color: white;
}

button:active {
    box-shadow: 0 0 3px gray;
    transition: all .2 e;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-wrapper {
    margin: 15% auto;
    width: 80%;
    padding: 20px;
    border: 1px solid #888;
    background-color: #fefefe;
}

.modal-content {
    background-image:url(../img/boromir.png);
    margin: 0 auto;
    padding: 20px;
    height: 400px;
    visibility: hidden;
    background-repeat: no-repeat;
    background-size: contain;
}

.close {
    color: #aaa;
    float: right;
    font-size: 46px;
    font-weight: bold;
    padding: 0 15px;
}

.text {
    font-size: 40px;
    color: red;
    font-weight: bold;
    margin: 10px 70px;
    text-align: center;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

